<?xml version="1.0"?>
<!--
  ~ Copyright (c) Shaymaa Saied  27/05/2021, 01:46.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
  <router id="admin">
    <route id="orderreview" frontName="orderreview">
      <module name="MageArab_OrderReview" before="Magento_Backend"/>
    </route>
  </router>
</config>